[submodule "crates/luanext-parser"]
	path = crates/luanext-parser
	url = https://github.com/forge18/luanext-parser.git
[submodule "crates/luanext-lsp"]
	path = crates/luanext-lsp
	url = https://github.com/forge18/luanext-lsp.git
[submodule "crates/luanext-sourcemap"]
	path = crates/luanext-sourcemap
	url = https://github.com/forge18/luanext-sourcemap.git
[submodule "crates/luanext-typechecker"]
	path = crates/luanext-typechecker
	url = https://github.com/forge18/luanext-typechecker.git
