name: Documentation

on:
  push:
    branches: [main]
    paths:
      - 'book/**'
      - '.github/workflows/docs.yml'
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout book folder
        uses: actions/checkout@v4
        with:
          sparse-checkout: book
          sparse-checkout-cone-mode: false

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: book
